FIREBASE_PROJECT_ID=your-firebase-project-id
BACKEND_PUBLIC_URL=http://localhost:8000
SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
SPOTIFY_MARKET=US
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/spotify/callback
FRONTEND_URL=http://localhost:8080
